numpy==1.26.2
preprocessing==0.1.13
tensorflow==2.15.0
streamlit>=1.31.0
keras==2.15.0
Pillow
opencv-python
googletrans==3.1.0a0
pydicom
matplotlib
pandas
reportlab
scikit-learn
joblib
python-dotenv # for environment variables